<?xml version="1.0" encoding="UTF-8"?>
<plugin provider-name="IBM" version="21" id="com.ibm.spss.statistics.NET.help" name="Integration Plug-in for Microsoft .NET User Guide">
<extension point="org.eclipse.help.toc">
<toc primary="true" file="com.ibm.spss.statistics.NET.help_toc.xml"/>
</extension>
<extension point="org.eclipse.help.index">
<index primary="true" file="com.ibm.spss.statistics.NET.help_index.xml"/>
</extension>
</plugin>
