<?xml version="1.0" encoding="UTF-8"?>
<!-- ***************************************************************** -->
<!--                                                                   -->
<!-- Licensed Materials - Property of IBM                              -->
<!--                                                                   -->
<!-- IBM SPSS Products: <Analytic Components>                          -->
<!--                                                                   -->
<!-- (c)Copyright IBM Corp. 2010, 2011                                 -->
<!--                                                                   -->
<!-- US Government Users Restricted Rights - Use, duplication or       -->
<!-- disclosure restricted by GSA ADP Schedule Contract with IBM       -->
<!-- Corp.                                                             -->
<!--                                                                   -->
<!-- ***************************************************************** -->

<!-- Sample Module XML for Descriptives -->
<Module xmlns="http://www.ibm.com/software/analytics/spss/xml/extension" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" debug="false" version="7.0" xsi:schemaLocation="http://www.ibm.com/software/analytics/spss/xml/extension http://www.ibm.com/software/analytics/spss/xml/extension/ModuleSpecification.xsd">
	<ModuleDetails copyright="(c) 2009 SPSS, Inc." description="Scoring Module" id="scoring" label="Scoring" provider="SPSS, Inc."  providerTag="pasw" version="7.0"/>
	
	<!--  On Windows, the shared library would called cf_scoringr.dll, on Unix/Linux cf_scoring.so/.lib/whatever -->
	<SharedLibrary basename="cfscoring"/>

    <!-- Resources used by the module. -->	
	<Resources>
		<Bundle id="scoring_module_res" path="messages" type="properties"/> 
	</Resources>

	<CommonObjects>
		<!--  Property type definitions. -->
		<PropertyTypes>
			
			<!-- The missing value policy  -->
			<Enumeration  id="missingValuePolicyType" >
				<Enum value="asMissingPredictor" /> 
				<Enum value="scoreAsMissing" /> 
			</Enumeration>

			<!-- The confidence based on method  -->
			<Enumeration  id="confidenceBasedOnType" >
				<Enum value="onProbability" /> 
				<Enum value="onIncrease" /> 
			</Enumeration>

		    <!-- The encoding  -->
		    <Enumeration  id="encodingType" >
		        <Enum value="UTF-8" />
		        <Enum value="local" />
		        <Enum value="others" />
		    </Enumeration>
			
		    <!-- The settings of scoring the association model from Modeler UI settings. -->
		    <Enumeration  id="assocRuleCriterionType" >
			    <Enum value="confidence" />
			    <Enum value="support" />
				<Enum value="rulesupport" />
		  		<Enum value="lift" />
		  		<Enum value="deployability" />
		    </Enumeration>
			
			<!-- The settings of scoring the association model from Modeler UI settings. -->
			<Enumeration  id="assocCheckBasketType" >
				<Enum value="isOutsideBasket" />
				<Enum value="isInsideBasket" />
				<Enum value="notCheckBasket" />
			</Enumeration>

	        <!-- The score method for Anomaly Dectection Model  -->
	        <Enumeration  id="adScoreMethodType" >
	        	<Enum value="FLAG_AND_SCORE" />
	        	<Enum value="FLAG_ONLY" />
	        	<Enum value="SCORE_ONLY" />
	        </Enumeration>
			
			<!-- The score method for Selflearning Model from Modeler UI settings. -->
			<Enumeration  id="selflearningSortEnum" >
				<Enum value="descending" />
				<Enum value="ascending" />
			</Enumeration>
	  
			<!-- The future time type for CoxReg Model from Modeler UI settings. -->
			<Enumeration  id="CoxRegFutureTimeTypeEnum" >
				<Enum value="Intervals" />
				<Enum value="Fields" />
				<Enum value="None" />
			</Enumeration>
			
  		<!-- The dll names for the scoring -->
		<Structure id="scoringDllStructure">
			<Attribute name="SmartScore" resourceKey ="" valueType ="string" defaultValue = "mcscorersmart" isList="false" />
			<Attribute name="NeuralNetwork" resourceKey ="" valueType ="string" defaultValue = "mcscorernnet" isList="false" />
			<Attribute name="MiningModel" resourceKey ="" valueType ="string" defaultValue = "mcscorermining" isList="false" />
		</Structure>

  		<!-- The dll names for the Smart Score -->
		<Structure id="modelDllStructure">
			<Attribute name="TreeModel" resourceKey ="" valueType ="string" defaultValue = "TreeModel" isList="false" />
		 	<Attribute name="discriminant-model" resourceKey ="" valueType="string" defaultValue="discriminant-model" isList="false" />
		 	<Attribute name="GeneralRegressionModel" resourceKey ="" valueType="string" defaultValue="GeneralRegressionModel" isList="false" />
		 	<Attribute name="ClusteringModel" resourceKey ="" valueType="string" defaultValue="ClusteringModel" isList="false" />
		 	<Attribute name="NeuralNetwork" resourceKey ="" valueType="string" defaultValue="NeuralNetwork" isList="false" />
		 	<Attribute name="AssociationModelLattice" resourceKey ="" valueType="string" defaultValue="AssociationModelLattice" isList="false" />
		 	<Attribute name="SeqAssociationLattice" resourceKey ="" valueType="string" defaultValue="SeqAssociationLattice" isList="false" />
		 	<Attribute name="NaiveBayesModel" resourceKey ="" valueType="string" defaultValue="NaiveBayesModel" isList="false" />
		 	<Attribute name="AssociationModel" resourceKey ="" valueType="string" defaultValue="AssociationModel" isList="false" />
		 	<Attribute name="RuleSetModel" resourceKey ="" valueType="string" defaultValue="RuleSetModel" isList="false" />
		 	<Attribute name="BayesNetModel" resourceKey ="" valueType="string" defaultValue="BayesNetModel" isList="false" />
		 	<Attribute name="SupportVectorMachineModel" resourceKey ="" valueType="string" defaultValue="SupportVectorMachineModel" isList="false" />
		 	<Attribute name="NearestNeighborModel" resourceKey ="" valueType="string" defaultValue="NearestNeighborModel" isList="false" />
		 	<Attribute name="MiningModel" resourceKey ="" valueType="string" defaultValue="MiningModel" isList="false" />
		 	<Attribute name="RegressionModel" resourceKey ="" valueType="string" defaultValue="RegressionModel" isList="false" />
		 	<Attribute name="TimeSeriesModel" resourceKey ="" valueType="string" defaultValue="TimeSeriesModel" isList="false" />
		</Structure>

  		<!-- The model id for output field name pattern -->
		<Structure id="modelIDStructure">
			<Attribute name="TreeModel" resourceKey ="" valueType ="string" defaultValue = "R" isList="false" />
		 	<Attribute name="discriminant-model" resourceKey ="" valueType="string" defaultValue="discriminant-model" isList="false" />
		 	<Attribute name="GeneralRegressionModel" resourceKey ="" valueType="string" defaultValue="L" isList="false" />
		 	<Attribute name="ClusteringModel" resourceKey ="" valueType="string" defaultValue="ClusteringModel" isList="false" />
		 	<Attribute name="NeuralNetwork" resourceKey ="" valueType="string" defaultValue="N" isList="false" />
		 	<Attribute name="AssociationModelLattice" resourceKey ="" valueType="string" defaultValue="AssociationModelLattice" isList="false" />
		 	<Attribute name="SeqAssociationLattice" resourceKey ="" valueType="string" defaultValue="SeqAssociationLattice" isList="false" />
		 	<Attribute name="NaiveBayesModel" resourceKey ="" valueType="string" defaultValue="NaiveBayesModel" isList="false" />
		 	<Attribute name="AssociationModel" resourceKey ="" valueType="string" defaultValue="A" isList="false" />
		 	<Attribute name="RuleSetModel" resourceKey ="" valueType="string" defaultValue="RuleSetModel" isList="false" />
		 	<Attribute name="BayesNetModel" resourceKey ="" valueType="string" defaultValue="B" isList="false" />
			<Attribute name="SelflearningModel" resourceKey ="" valueType="string" defaultValue="S" isList="false" />
		 	<Attribute name="SupportVectorMachineModel" resourceKey ="" valueType="string" defaultValue="S" isList="false" />
		 	<Attribute name="NearestNeighborModel" resourceKey ="" valueType="string" defaultValue="KNN" isList="false" />
		 	<Attribute name="MiningModel" resourceKey ="" valueType="string" defaultValue="MiningModel" isList="false" />
		 	<Attribute name="CLUSTER_KOHONEN" resourceKey ="" valueType="string" defaultValue="K" isList="false" />
		 	<Attribute name="ANOMALYDETECTION" resourceKey ="" valueType="string" defaultValue="O" isList="false" />
		 	<Attribute name="CLUSTER_KMEANS" resourceKey ="" valueType="string" defaultValue="KM" isList="false" />
		 	<Attribute name="RULESET_DL" resourceKey ="" valueType="string" defaultValue="D" isList="false" />
			<Attribute name="GZLR" resourceKey ="" valueType="string" defaultValue="G" isList="false" />
			<Attribute name="LR" resourceKey ="" valueType="string" defaultValue="E" isList="false" />
		 	<Attribute name="RegressionModel" resourceKey ="" valueType="string" defaultValue="RegressionModel" isList="false" />
		 	<Attribute name="TimeSeriesModel" resourceKey ="" valueType="string" defaultValue="TS" isList="false" />			
			<Attribute name="SELF_LEARNING" resourceKey ="" valueType="string" defaultValue="S" isList="false" />
		</Structure>

  		<!-- The result type for output field name pattern -->
		<Structure id="resultTypeStructure">
			<Attribute name="prediction" resourceKey ="" valueType ="string" defaultValue="" isList="false" />
		 	<Attribute name="probability" resourceKey ="" valueType="string" defaultValue="P" isList="false" />
		 	<Attribute name="probcategory" resourceKey ="" valueType="string" defaultValue="P" isList="false" />
		 	<Attribute name="confidence" resourceKey ="" valueType="string" defaultValue="C" isList="false" />
		 	<Attribute name="stddev" resourceKey ="" valueType="string" defaultValue="S" isList="false" />

		 	<Attribute name="clustering-kohonen-x" resourceKey ="" valueType="string" defaultValue="X" isList="false" />
		 	<Attribute name="clustering-kohonen-y" resourceKey ="" valueType="string" defaultValue="Y" isList="false" />
		 	<Attribute name="clustering-kohonen-xy" resourceKey ="" valueType="string" defaultValue="XY" isList="false" />
		 	<Attribute name="clustering-kmeans-distance" resourceKey ="" valueType="string" defaultValue="D" isList="false" />
		 	
			<Attribute name="association_confidence" resourceKey ="" valueType="string" defaultValue="C" isList="false" />			
			<Attribute name="selflearning_confidence" resourceKey ="" valueType="string" defaultValue="C" isList="false" />
			</Structure>

  		<!-- The output field name pattern -->
		<Structure id="namePatternStructure">
			<Attribute name="prediction" resourceKey ="" valueType ="string" defaultValue="${M}{S}-{T}" isList="false" />
		 	<Attribute name="probability" resourceKey ="" valueType="string" defaultValue="${M}{R}{S}-{T}" isList="false" />
		 	<Attribute name="probcategory" resourceKey ="" valueType="string" defaultValue="${M}{R}{S}-{C}" isList="false" />
		 	<Attribute name="confidence" resourceKey ="" valueType="string" defaultValue="${M}{R}{S}-{T}" isList="false" />
		 	<Attribute name="stddev" resourceKey ="" valueType="string" defaultValue="${M}{R}-{T}" isList="false" />
		 	<Attribute name="tree-nodeid" resourceKey ="" valueType="string" defaultValue="NodeID" isList="false" />
		 	<Attribute name="cox-cumhazard" resourceKey ="" valueType="string" defaultValue="CumHazard" isList="false" />
		 	<Attribute name="knn-caseid" resourceKey ="" valueType="string" defaultValue="${M}{S}-neighbor-{G}" isList="false" />
		 	<Attribute name="knn-distance" resourceKey ="" valueType="string" defaultValue="${M}{S}-distance-{G}" isList="false" />
		 	<Attribute name="knn-caselabel" resourceKey ="" valueType="string" defaultValue="${M}{S}-neighbor-{G}" isList="false" />
		 	<Attribute name="adjustedpropensity" resourceKey ="" valueType="string" defaultValue="$AP{S}-{T}" isList="false" />
		 	<Attribute name="rawpropensity" resourceKey ="" valueType="string" defaultValue="$RP{S}-{T}" isList="false" />
		 	<Attribute name="clustering-clusterid" resourceKey ="" valueType="string" defaultValue="clustering-clusterid" isList="false" />

		 	<Attribute name="clustering-kohonen-x" resourceKey ="" valueType="string" defaultValue="${M}{R}{S}-Kohonen" isList="false" />
		 	<Attribute name="clustering-kohonen-y" resourceKey ="" valueType="string" defaultValue="${M}{R}{S}-Kohonen" isList="false" />
		 	<Attribute name="clustering-kohonen-xy" resourceKey ="" valueType="string" defaultValue="${M}{R}{S}-Kohonen" isList="false" />

		 	<Attribute name="anomaly-flag" resourceKey ="" valueType="string" defaultValue="${M}{S}-Anomaly" isList="false" />
		 	<Attribute name="anomaly-index" resourceKey ="" valueType="string" defaultValue="${M}{S}-AnomalyIndex" isList="false" />
		 	<Attribute name="anomaly-clusterid" resourceKey ="" valueType="string" defaultValue="${M}{S}-PeerGroup" isList="false" />
		 	<Attribute name="anomaly-varname" resourceKey ="" valueType="string" defaultValue="${M}{S}-Field-{G}" isList="false" />
		 	<Attribute name="anomaly-avrimpact" resourceKey ="" valueType="string" defaultValue="${M}{S}-FieldImpact-{G}" isList="false" />			
			
		 	<Attribute name="clustering-kmeans-clusterid" resourceKey ="" valueType="string" defaultValue="${M}{S}-{N}" isList="false" />			
		 	<Attribute name="clustering-kmeans-distance" resourceKey ="" valueType="string" defaultValue="${M}{R}{S}-{N}" isList="false" />
			
			<Attribute name="association_prediction" resourceKey ="" valueType ="string" defaultValue="${M}{S}-{T}-{G}" isList="false" />
			<Attribute name="association_confidence" resourceKey ="" valueType="string" defaultValue="${M}{R}{S}-{T}-{G}" isList="false" />
			<Attribute name="association_ruleid" resourceKey ="" valueType="string" defaultValue="${M}{S}-Rule_ID-{G}" isList="false" />
			
			<Attribute name="selflearning_prediction" resourceKey ="" valueType ="string" defaultValue="${M}{S}-{T}-{G}" isList="false" />
			<Attribute name="selflearning_confidence" resourceKey ="" valueType="string" defaultValue="${M}{R}{S}-{T}-{G}" isList="false" />

			<Attribute name="ruleset-dl-probability" resourceKey ="" valueType="string" defaultValue="${M}P{S}-{T}" isList="false" />
			<Attribute name="ruleset-firstid" resourceKey ="" valueType="string" defaultValue="${M}I{S}-{T}" isList="false" />

			<Attribute name="timeseries-lowerconfidence" resourceKey ="" valueType="string" defaultValue="${M}LCI{S}-{T}" isList="false" />
			<Attribute name="timeseries-upperconfidence" resourceKey ="" valueType="string" defaultValue="${M}UCI{S}-{T}" isList="false" />
			<Attribute name="timeseries-noiseresiduals" resourceKey ="" valueType="string" defaultValue="${M}NR{S}-{T}" isList="false" />
			</Structure>

  		<!-- The output field label pattern -->
		<Structure id="labelPatternStructure">
			<Attribute name="prediction" resourceKey ="" valueType ="string" defaultValue="kSCORING_PredictedValue_0" isList="false" />
		 	<Attribute name="probability" resourceKey ="" valueType="string" defaultValue="kSCORING_UndefinedLabel_0" isList="false" />
		 	<Attribute name="probcategory" resourceKey ="" valueType="string" defaultValue="kSCORING_Probability_2" isList="false" />
		 	<Attribute name="confidence" resourceKey ="" valueType="string" defaultValue="kSCORING_ConfidencePP_0" isList="false" />
		 	<Attribute name="stddev" resourceKey ="" valueType="string" defaultValue="kSCORING_UndefinedLabel_0" isList="false" />
		 	<Attribute name="tree-nodeid" resourceKey ="" valueType="string" defaultValue="kSCORING_UndefinedLabel_0" isList="false" />
		 	<Attribute name="cox-cumhazard" resourceKey ="" valueType="string" defaultValue="kSCORING_UndefinedLabel_0" isList="false" />
		 	<Attribute name="knn-caseid" resourceKey ="" valueType="string" defaultValue="kSCORING_UndefinedLabel_0" isList="false" />
		 	<Attribute name="knn-distance" resourceKey ="" valueType="string" defaultValue="kSCORING_UndefinedLabel_0" isList="false" />
		 	<Attribute name="knn-caselabel" resourceKey ="" valueType="string" defaultValue="kSCORING_UndefinedLabel_0" isList="false" />
		 	<Attribute name="adjustedpropensity" resourceKey ="" valueType="string" defaultValue="kSCORING_UndefinedLabel_0" isList="false" />
		 	<Attribute name="rawpropensity" resourceKey ="" valueType="string" defaultValue="kSCORING_UndefinedLabel_0" isList="false" />
		</Structure>

  		<!-- The output field name list -->
		<Structure id="nameListStructure">
			<Attribute name="prediction" resourceKey ="" valueType ="string" defaultValue="" isList="false" />
		 	<Attribute name="probability" resourceKey ="" valueType="string" defaultValue="" isList="false" />
		 	<Attribute name="probcategory" resourceKey ="" valueType="string" isList="true" />
		 	<Attribute name="confidence" resourceKey ="" valueType="string" defaultValue="" isList="false" />
		 	<Attribute name="stddev" resourceKey ="" valueType="string" defaultValue="" isList="false" />
		 	<Attribute name="tree-nodeid" resourceKey ="" valueType="string" defaultValue="" isList="false" />
		 	<Attribute name="cox-cumhazard" resourceKey ="" valueType="string" defaultValue="" isList="false" />
		 	<Attribute name="knn-caseid" resourceKey ="" valueType="string" isList="true" />
		 	<Attribute name="knn-distance" resourceKey ="" valueType="string" isList="true" />
		 	<Attribute name="knn-caselabel" resourceKey ="" valueType="string" isList="true" />
		 	<Attribute name="adjustedpropensity" resourceKey ="" valueType="string" defaultValue="" isList="false" />
		 	<Attribute name="rawpropensity" resourceKey ="" valueType="string" defaultValue="" isList="false" />
		</Structure>

    </PropertyTypes>
	</CommonObjects>
	
	<!-- Status Codes -->
	<StatusCodes>
		<StatusCode code="240000" status="error" messageKey="unknownErrorMsg.LABEL"/>
		<StatusCode code="240001" status="error" messageKey="initErrMsg.LABEL"/>
		<StatusCode code="240002" status="error" messageKey="inputErrMsg.LABEL"/>
		<StatusCode code="240003" status="error" messageKey="internalErrMsg.LABEL"/>
		<StatusCode code="240004" status="error" messageKey="invalidMetadataErrMsg.LABEL"/>
		<StatusCode code="240005" status="error" messageKey="fileNotExistErrorMsg.LABEL"/>
		<StatusCode code="240006" status="error" messageKey="storageNotSupportErrorMsg.LABEL"/>
		<StatusCode code="240007" status="error" messageKey="invalidTargetErrorMsg.LABEL"/>
		<StatusCode code="240008" status="error"
			messageKey="invalidTarResponseErrorMsg.LABEL"/>
		<StatusCode code="240009" status="error" messageKey="predictorsEmptyErrMsg.LABEL"/>
		<StatusCode code="240010" status="error" messageKey="targetAsInputErrorMsg.LABEL"/>
		<StatusCode code="240011" status="error" messageKey="invalidFrequencyErrorMsg.LABEL"/>
		<StatusCode code="240012" status="error"
			messageKey="invalidTargetResponseErrorMsg.LABEL"/>
		<StatusCode code="240013" status="error"
			messageKey="invlidResponseCatErrorMsg.LABEL"/>
		<StatusCode code="240014" status="error" messageKey="noFrequencyErrorMsg.LABEL"/>
		<StatusCode code="240015" status="error" messageKey="noTargetErrorMsg.LABEL"/>
		<StatusCode code="240016" status="error" messageKey="invalidtarValueMsg.LABEL"/>
		<StatusCode code="240017" status="error" messageKey="getfilePathMsg.LABEL"/>
		<StatusCode code="240018" status="error" messageKey="creationAlgorithmMsg.LABEL"/>
		<StatusCode code="240019" status="error" messageKey="buildModelErrorMsg.LABEL"/>
		<StatusCode code="240020" status="error" messageKey="assessModelErrorMsg.LABEL"/>
		<StatusCode code="240021" status="error" messageKey="exportPMLLErrorMsg.LABEL"/>
		<StatusCode code="240022" status="error" messageKey="getDataFieldErrorMsg.LABEL"/>
		<StatusCode code="240023" status="error" messageKey="tarResIsSameErrorMsg.LABEL"/>
		<StatusCode code="240024" status="error" messageKey="NoTargetFieldErrorMsg.LABEL"/>
		<StatusCode code="240025" status="error" messageKey="NoTargetResFieldErrorMsg.LABEL"/>
		<StatusCode code="240026" status="error" messageKey="targetResTrueErrorMsg.LABEL"/>
		<StatusCode code="240027" status="error" messageKey="PMMLNotExistErrorMsg.LABEL"/>
		<StatusCode code="240028" status="error" messageKey="PMMLIsInvalidErrorMsg.LABEL"/>
		<StatusCode code="240029" status="error" messageKey="NoPredVarInPMMLErrorMsg.LABEL"/>
		<StatusCode code="240030" status="error" messageKey="PMMLNotMatchDataErrorMsg.LABEL"/>
		<StatusCode code="240031" status="error" messageKey="getDataSourceErrorMsg.LABEL"/>
		<StatusCode code="240032" status="error" messageKey="dataFileISValidErrorMsg.LABEL"/>
		<StatusCode code="240033" status="error" messageKey="TarFieldNOTMatchErrMsg.LABEL"/>
		<StatusCode code="240034" status="error" messageKey="TRFieldNOTMatchErrMsg.LABEL"/>
		<StatusCode code="240035" status="error" messageKey="FreFieldNOTMatchErrMsg.LABEL"/>
		<StatusCode code="240036" status="error" messageKey="InputFieldNOTMatchMsg.LABEL"/>
		<StatusCode code="240037" status="error" messageKey="NoValidRecordsMsg.LABEL"/>
		<StatusCode code="240038" status="error" messageKey="NoRecordsScoringMsg.LABEL"/>
		<StatusCode code="240039" status="error" messageKey="PartionInValidMsg.LABEL"/>
		<StatusCode code="240040" status="error" messageKey="InputFieldConstantMsg.LABEL"/>
		<StatusCode code="240041" status="error" messageKey="InvalidSettingsErrorMsg.LABEL"/>
		<StatusCode code="240042" status="error" messageKey="NoValidFieldValuesErrorMsg.LABEL"/>
		
		<!-- common error code -->
		<StatusCode code="1" status="error" messageKey="kMCCANCEL.LABEL"/>
		<StatusCode code="2" status="error" messageKey="kMC_IO_ERROR.LABEL"/>
		<StatusCode code="3" status="error" messageKey="kMC_MEMORY_LIMIT_EXCEEDED.LABEL"/>
		<StatusCode code="4" status="error" messageKey="kMC_INVALID_SAVE_STATE.LABEL"/>
		<StatusCode code="5" status="error" messageKey="kMC_FAILED_RESTART.LABEL"/>
		<StatusCode code="6" status="error" messageKey="kMC_WRONG_STATE.LABEL"/>
		
		<!-- scoring error code -->
		<StatusCode code="230001" status="error" messageKey="kSCORING_NullPointer.LABEL"/>
		<StatusCode code="230002" status="error" messageKey="kSCORING_ModelAlreadyExisted.LABEL"/>
		<StatusCode code="230003" status="error" messageKey="kSCORING_MissingPMMLPathName.LABEL"/>
		<StatusCode code="230004" status="error" messageKey="kSCORING_OpenModelFailed.LABEL"/>
		<StatusCode code="230005" status="error" messageKey="kSCORING_OpenModelNamesFailed.LABEL"/>
		<StatusCode code="230006" status="error" messageKey="kSCORING_OpenScoringConifgFailed.LABEL"/>
		<StatusCode code="230007" status="error" messageKey="kSCORING_InvalidPMMLFile.LABEL"/>
		<StatusCode code="230008" status="error" messageKey="kSCORING_InvalidPMMLStream.LABEL"/>
		<StatusCode code="230009" status="error" messageKey="kSCORING_NoScorer.LABEL"/>
		<StatusCode code="230010" status="error" messageKey="kSCORING_UnSupportedModel.LABEL"/>
		<StatusCode code="230011" status="error" messageKey="kSCORING_SpecifiedVarNotInDataModule.LABEL"/>
					
		<!-- Warning for the scoring component -->
		
		<!-- Progress report  -->
		<StatusCode code="101" status="warning" messageKey="PreparedDataHandleMsg.LABEL"/>	
		<StatusCode code="102" status="warning" messageKey="HandleDataProcessMsg.LABEL"/>
		<StatusCode code="103" status="warning" messageKey="HandleDataProcessEndMsg.LABEL"/>
		<StatusCode code="104" status="warning" messageKey="ExportPmmlProgressMsg.LABEL"/>
	</StatusCodes>
	
	<!-- ContainerType declarations -->
	<ContainerTypes>
		<!--  
		Container types:
        -   XML documents
		-	PMML / Model
		-	Pivot Tables / Multi-Dimensional Variables
		-	Chart Visualizations
	    -	Table Visualizations
		-	Text output
		-	Static Image
		-	Case data – a subset
		__
		The "fileSuffix" attribute is used when generating the temporary files used to store or retrieve the various components.
		They don't provide explicit meaning to the application or component but potentially would be useful when debugging.
        -->
        <!-- TBD -->
		<!--  <ContainerType id="compressed_report_container" type="multi_dim_table" format="binary" fileSuffix="zip"/>-->
		<ContainerType  id="pmml_input_container" mimeType="pmml" resourceKey="" fileSuffix="" />
	</ContainerTypes>
	
	<!-- Component definition. Component names are used as name-spaces and should be unique across component instances. -->
	<!-- A scoring have two dll files. One is cfscoring.dll that is for CF, the other is mcscoringr.dll file that is the 
		real scoring component dll file. On windows, it is mcscoringr.dll, other platform, it is libmcscoringr +".so or whatever suffix" -->
	<Component id="scoring">
	
		<!-- 
		Component capabilities [TBD]:
		-  Data Provider
		-  Data Transformer
		-  Data Consumer
		-  Container Operator (operates upon Containers)
		-->
		<Capabilities>
      <Transformer/>
		</Capabilities>
	
		<!-- Property declarations -->
		<Properties>
			<!--the following is to define the settings for the oprations-->
			<Property name="missingValuePolicy" type="missingValuePolicyType" defaultValue="asMissingPredictor" />
			<Property name="encoding" type="encodingType" defaultValue="UTF-8" />
			<Property name="scoringDll" type="scoringDllStructure" />
			<Property name="modelDll" type="modelDllStructure" />
			<Property name="maxPredictions" valueType="integer" defaultValue="3" min="1" />
			<Property name="versionSupported" valueType="string" defaultValue="4.0" />
			<Property name="isOutputInputData" valueType="boolean" defaultValue="true" />
			<Property name="isOutputAll" valueType="boolean" defaultValue="false" />
			<Property name="isPrediction" valueType="boolean" defaultValue="true" />
			<Property name="isProbability" valueType="boolean" defaultValue="false" />
			<Property name="isProbabilityCategory" valueType="boolean" defaultValue="false" />
			<Property name="isConfidence" valueType="boolean" defaultValue="true" />
			<Property name="isStandardDeviation" valueType="boolean" defaultValue="false" />
			<Property name="isPropensity" valueType="boolean" defaultValue="false" />
			<Property name="isRawPropensity" valueType="boolean" defaultValue="false" />
			<Property name="isNodeID" valueType="boolean" defaultValue="false" />
			<Property name="isCumHazard" valueType="boolean" defaultValue="false" />
			<Property name="future_time_as" type="CoxRegFutureTimeTypeEnum" defaultValue="None" />
			
			<Property name="time_field" valueType="string" defaultValue="" />
			<Property name="past_survival_time" valueType="string" defaultValue="" />
			<Property name="time_interval" valueType="double" defaultValue="1.0" />
			<Property name="num_future_times" valueType="integer" defaultValue="1" />
			<Property name="all_probabilities" valueType="boolean" defaultValue="true" />
			<Property name="cumulative_hazard" valueType="boolean" defaultValue="false" />
			<Property name="isNeighbor" valueType="boolean" defaultValue="false" />
			<Property name="isDistance" valueType="boolean" defaultValue="false" />
			<Property name="isOthers" valueType="boolean" defaultValue="false" />
			<Property name="isEnsemble" valueType="boolean" defaultValue="true" />
			<Property name="isBaseModels" valueType="boolean" defaultValue="false" />
			<Property name="isReferenceModel" valueType="boolean" defaultValue="false" />
			<Property name="modelID" type="modelIDStructure" />
			<Property name="resultType" type="resultTypeStructure" />
			<Property name="namePattern" type="namePatternStructure" />
			<Property name="labelPattern" type="labelPatternStructure" />
			<Property name="nameList" type="nameListStructure" />
			<Property name="useNameList" valueType="boolean" defaultValue="false" />
			<Property name="resolveNameConflict" valueType="boolean" defaultValue="true" />
			<Property name="enableSQL" valueType="boolean" defaultValue="false" />
			<Property name="maxCategories" valueType="integer" defaultValue="25" min="1" />
			<Property name="confidenceBasedOn" type="confidenceBasedOnType" defaultValue="onProbability" />
			<Property name="scoreValue" valueType="string" defaultValue="" />

			<Property name="adSupressNonAnomalousRecords" valueType="boolean" defaultValue="false" />
			<Property name="adNumAnomalyFields" valueType="integer" defaultValue="3" min="1" />
			<Property name="adAnomalyIndexCutoff" valueType="double" defaultValue="0.0" />
			<Property name="adScoreMethod" type="adScoreMethodType" defaultValue="FLAG_AND_SCORE" />
			
			<Property name="assocRuleCriterion" type="assocRuleCriterionType" defaultValue="confidence" />
			<Property name="assocRepeatPredications" valueType="boolean" defaultValue="false" />
			<Property name="assocEqualsBasket" valueType="boolean" defaultValue="false" />
			<Property name="assocCheckBasket" type="assocCheckBasketType" defaultValue="isOutsideBasket" />
			<Property name="assocIsOnlyTrueForFlag" type="boolean" defaultValue="true" />
			<Property name="assocTransactionalID" valueType="string" defaultValue="" />
						
			<Property name="selflearningRandomization" valueType="double" defaultValue="0.0" min="0.0" max="1.0" />
			<Property name="selflearningRandomSeed" type="integer" defaultValue="876547" min="0" />
			<Property name="selflearningSort" type="selflearningSortEnum" defaultValue="descending" />
			<Property name="selflearningTargetFields" valueType="fieldName" isList = "true" />
			<Property name="selflearningReliability" valueType="boolean" defaultValue="true" />

			<Property name="isCaseLabel" valueType="boolean" defaultValue="false" />
			<Property name="isRuleID" valueType="boolean" defaultValue="false" />
			<Property name="isKohonenX" valueType="boolean" defaultValue="true" />
			<Property name="isKohonenY" valueType="boolean" defaultValue="true" />
			<Property name="isStandardDeviationRequired" valueType="boolean" defaultValue="false" />
			
			<Property name="kmLabelPrefix" valueType="string" defaultValue="" />
		</Properties>
			
		<!-- Containers -->
		<Containers>
			<!-- TBD -->
			<!-- <Container name="compressedReport" type="compressed_report_container" usage="output" runtimeProperty="tmpReportFile"/> -->
			<Container name="InputPMML" type="pmml_input_container" usage="input" runtimeProperty="tmpReportFile"/>
		</Containers>
		
		<!-- Property constraints (component state preconditions). -->
		<Constraints>
			<!--  
			<Constraint>
				<PropertyCondition op="isNotEmpty" property="referenceDateForDurations"/>
				</Constraint>-->
		</Constraints>
		
	</Component>
</Module>
