<?xml version="1.0" encoding="UTF-8"?>
<plugin provider-name="IBM" version="21" id="com.ibm.spss.statistics.cs" name="Case Studies">
<extension point="org.eclipse.help.toc">
<toc primary="true" file="com.ibm.spss.statistics.cs_toc.xml"/>
</extension>
<extension point="org.eclipse.help.index">
<index primary="true" file="com.ibm.spss.statistics.cs_index.xml"/>
</extension>
</plugin>
